[Unit]
Description=Rsync ~ to backup storage device
After=network.target

[Service]
Type=oneshot
WorkingDirectory=%h
ExecStart=%h/src/maintenance-scripts/src/sync-dotfiles.sh

[Install]
WantedBy=default.target
